<section style="background-image:url(/assets/header-background.png); background-repeat:no-repeat; background-size:contain; background-size:100% 350px; height:315px;">
        <br>
            <table class="public_table">
                <tr>
                    <td>
                      <a href="#" id="we">
                	    <img src="/assets/home.png" id="home_pic" data-toggle="tooltip" title="Home" style="width:70px;height:60px;">
				      </a>
                    </td>
                    <td>
                        <a href="#">
					     <img src="/assets/team.png" id="team_pic" data-toggle="tooltip" title="Team">
				       </a> 
                    </td>
                    <td>
				        <a href="#">
                          <img src="/assets/event.png" id="events_pic" data-toggle="tooltip" title="Events">
				       </a>
                    </td> 
                </tr>
    
                <tr >
                    <td>
                      <a href="#">
					    <img src="/assets/about us.png" id="about_pic" data-toggle="tooltip" title="About us">
				     </a>
                    </td>
                    <td>
                       <img src="/assets/centerlogo.png" id="google_header" style="width:350px;height:150px; ">
                    </td>
                    <td>
                       <a href="#">
				         <img src="/assets/contact us.png" id="contact_pic" data-toggle="tooltip" title="Contact us">
				      </a>
                    </td>
                </tr>
                
                <tr>
                    <td>
                        <a href="#">
					      <img src="/assets/about google.png" id="google_pic" data-toggle="tooltip" title="About Google">
				       </a>
                    </td>
                    <td>
                        <a href="#">
					      <img src="/assets/technology.png" id="techn_pic" data-toggle="tooltip" title="Technology" >
				        </a> 
                    </td>
                    <td>
                        <a href="#">
					      <img src="/assets/calender.ico" id="cale_pic" data-toggle="tooltip" title="Calendar">
				        </a>
                    </td>
                </tr>
                
            </table>
        
        </section>